@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.code-work {
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
}

.portfolio-code {
  display: block;
  margin: 3rem;
}

.portfolio-code-download {
  display: block;
  margin: 0 auto;
}

.project_heading-code {
  font-size:1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 1.3rem;
}

.devices__grid {
  display: block;
  margin: 0 auto;
}

.code-stuff {
  font-size:1rem;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.3rem;
  margin-top: 1.3;
  margin-bottom: 1.3rem;
}

a:hover {
  text-decoration: none;
}

.code-work-img {
  display: block;
  max-width: 50%;
  font-size:1.2rem;
  margin: 1.3rem;
}

.download__btn_blocked {
  display: block;
  margin-top:1rem;
  margin-left: 0rem;
  border-radius:3px;
  background-color: var(--btnblock-color);
  padding:.5rem;
  text-align: center;
  transition:background-color 200ms ease}.device

.download__btn {
  margin-top: 30rem;
  margin-left: 0rem;
  border-radius: 100px;
  background-color: #c4c4c4;
  text-align: center;
  transition: background-color 200ms ease
}

.download__btn:hover {
  background-color: #0f9d58
}

.device {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 0rem;
  padding: 1.5rem;
  background-color: var(--device-color);
  border-radius: 30px
}

.title {
  font-size:1.25rem;
  margin-bottom:10px
}.device

.download__btn {
  display:block;
  margin-top:1rem;
  border-radius:3px;
  background-color:#4285f4;
  color:#000;
  padding:.5rem;
  text-align:center;
  transition:background-color 200ms ease
} 
  
.download__btn:hover{
  background-color:#0f9d58
}

.half {
  padding: 0 1em;
}

.tab {
  position: relative;
  margin-bottom: 9px;
  width: 100%;
  color: var(--main-color);
  overflow: hidden;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: var(--label-color);
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-in-tab {
  position: relative;
  margin-bottom: 17px;
  width: 100%;
  color: var(--main-color);
}
.tab-in-tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab-in-tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: var(--tit-label-color);
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  border-radius: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blue label {
  background: #2980b9;
}

.tab-content {
  margin-top: -0.5rem;
  max-height: 0;
  overflow: hidden;
  background: var(--content-color);
  -webkit-transition: max-height .35s;
       -o-transition: max-height .35s;
          transition: max-height .35s;
}

.tab-in-tab-content {
  margin-top: -1rem;
  max-height: 0;
  overflow: hidden;
  background: var(--tit-label-color);
  border-radius: 0px 0px 20px 20px;
  -webkit-transition: max-height .35s;
       -o-transition: max-height .35s;
          transition: max-height .35s;
  margin-right: 1rem;
  margin-left: 1rem;
}

.blue .tab-content {
  background: #3498db;
}

.tab-content p {
  margin: 1em;
}

/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* :checked */
.tab input:checked ~ .tab-in-tab-content {
  max-height: 100vh;
  margin-top: -1rem;
}

/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
       -o-transition: all .35s;
          transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.changelogs__list {
  display: block;
  width: 100%;
  padding: .75rem;
  white-space: pre-line;
  height: 100px;
  border-radius: 3px;
  background-color: var(--changelog-color);
  border: none;
  color: var(--text-changelog-color);
  box-shadow: 0 1px 3px 0 #2d2d2d,0 0 0 1px #2d2d2d;
  font-family: Consolas,andale mono wt,andale mono,lucida console,lucida sans typewriter,dejavu sans mono,bitstream vera sans mono,liberation mono,nimbus mono l,Monaco,courier new,Courier,monospace;
  overflow-y: scroll;
  margin-top: 1rem;
}

.copyright-devices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: var(--main-color);
    font-family: "Fira Code", monospace;
    padding-bottom: 50px;
    padding-top: 50px;
}

.copyright-devices a {
    color: var(--main-color);
    text-decoration: none;
}
