@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.front-end-logos {
  padding-bottom: 1rem;
  padding-top:1rem;
  width:80%;
}

.front_end_skills {
   width: 300px;
   font-family: 'Poppins', sans-serif;
   -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
           transition: all 0.4s ease 0s;
}

.front_end_skills:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
}

.front_skills {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 21px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 21px;
}

.skills-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration-color: #fff;
  padding-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.skills_illustration {
  max-width: 130%;
}

.downarrow {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-me-para {
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  line-height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}


.about-me-para:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;

}

.about-me-para-name {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  line-height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}


.about-me-para-name:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
}
 
.portfolio__container {
  background-color: var(--list-color);
  margin: 35px 0;
  padding: 20px 0;
}

#jsContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}

#jsContainer .container__item {
  max-width: 500px;
  max-height: 250px;
  height: 30vmin;
  width: calc(50% - 20px);
  margin: 10px;
  position: relative;
}

#jsContainer .container__item a,
#jsContainer .container__item .info__icon {
  text-decoration: none;
  color: var(--main-color);
  display: inline;
  font-weight: bold;
  cursor: pointer;
}

#jsContainer .container__item .container h1 {
  display: block;
}

#jsContainer .container__item .more-info--hidden {
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
  pointer-events: none;
  -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
          transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
}

#jsContainer .container__item i:hover,
#jsContainer .container__item .more-info-title {
  color: var(--main-color)
}

#jsContainer .container__item .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  max-width: 100%;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-transform: translate(0);
          transform: translate(0);
  background: var(--menu-color);
  color: var(--main-color);
  padding: 20px;
  -webkit-transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
          transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: all;
}

#jsContainer .container__item .more-info .more-info__close,
#jsContainer .container__item .more-info .more-info__header,
#jsContainer .container__item .more-info .more-info__text,
#jsContainer .container__item .more-info .more-info__demo,
#jsContainer .container__item .more-info .more-info-github,
#jsContainer .container__item .more-info .more-info-photo-desc {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

#jsContainer .container__item .more-info .more-info__close {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

#jsContainer .container__item .more-info .more-info__header {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

#jsContainer .container__item .more-info .more-info__text {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}

#jsContainer .container__item .more-info .more-info__demo {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

#jsContainer .container__item .more-info .more-info-github {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

#jsContainer .container__item .more-info .more-info-photo-desc {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

#jsContainer .container__item .more-info--hidden {
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
  pointer-events: none;
  -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
          transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

#jsContainer .container__item .more-info--hidden .more-info__close,
#jsContainer .container__item .more-info--hidden .more-info__header,
#jsContainer .container__item .more-info--hidden .more-info__text,
#jsContainer .container__item .more-info--hidden .more-info__demo,
#jsContainer .container__item .more-info--hidden .more-info-github,
#jsContainer .container__item .more-info--hidden .more-info-photo-desc {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

#jsContainer .container__item .more-info--hidden .more-info__close {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

#jsContainer .container__item .more-info--hidden .more-info__header {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}

#jsContainer .container__item .more-info--hidden .more-info__text {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

#jsContainer .container__item .more-info--hidden .more-info__demo {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

#jsContainer .container__item .more-info--hidden .more-info-github {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

#jsContainer .container__item .more-info--hidden .more-info-photo-desc {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

#jsContainer .container__item .more-info__close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}

#jsContainer .container__item .more-info__close:hover {
  opacity: 0.8;
}

#jsContainer .container__item .more-info__header {
  text-align: center;
  margin-bottom: 20px;
}

#jsContainer .container__item .more-info-photo {
  width: 100%;
  cursor: pointer;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}

#jsContainer .container__item .more-info-photo-title {
  opacity: 0;
  position: absolute;
  z-index: 5;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-46px);
          transform: translateX(-50%) translateY(-46px);
  color: white;
  text-shadow: 1px 1px 4px #474747;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

@media (max-width: 700px) {
  #jsContainer .container__item .more-info-photo-title {
    display: none;
  }
}

#jsContainer .container__item .more-info-photo-title2 {
  opacity: 0;
  position: absolute;
  z-index: 5;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(46px);
          transform: translateX(-50%) translateY(46px);
  color: white;
  text-shadow: 1px 1px 4px #474747;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

@media (max-width: 700px) {
  #jsContainer .container__item .more-info-photo-title2 {
    display: none;
  }
}

#jsContainer .container__item .more-info-photo-background {
  background-color: var(--hover-color);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
}

#jsContainer .container__item .more-info-photo-desc {
  width: 100vmin;
  -ms-flex-item-align: center;
   -ms-grid-row-align: center;
  align-self: center;
}

#jsContainer .container__item:hover .more-info-photo-title {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

#jsContainer .container__item:hover .more-info-photo-title2 {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

#jsContainer .container__item:hover .more-info-photo-background {
  opacity: 0.7;
  cursor: pointer;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .skill__button {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  padding: 10px;
  margin: 5px;
  background: #bfbfbf;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: "Fira Code", monospace;
}

#skills .skill__button:hover {
  color: white;
  background: var(--hover-color);
  cursor: pointer;
}

#skills .skill__button:focus {
  outline: none;
}

#skills .skill__button--active {
  color: white;
  background: var(--hover-color);
}
