* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #000000;
  font-family: sans-serif;
}

.score {
  color: #f6f6f6;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score h2 {
  margin-top: 30px;
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro button,
.match button,
.playerName button,
.gameOver button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 20px;
  background: none;
  border: none;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  border-radius: 3px;
}

.intro {
  color: #f6f6f6;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 60px;
  margin-bottom: 20vh;
  text-align: center;
}

.intro .mt-4 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 40px;
}

.intro li {
  font-size: 25px;
}

.playerName {
  color: #f6f6f6;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s ease .2s;
  transition: opacity 0.5s ease .2s;
}

.playerName h1 {
  font-size: 50px;
}

.playerName input {
  width: 450px;
  height: 50px;
  font-size: 30px;
}

.gameOver {
  color: #f6f6f6;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s ease 1s;
  transition: opacity 0.5s ease 1s;
}

.gameOver h1 {
  font-size: 50px;
}

.gameOver p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s ease 0.7s;
  transition: opacity 0.5s ease 0.7s;
}

.winner {
  color: #f6f6f6;
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-hand {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 700px) {
  .intro {
    height: 50vh;
  }
  .intro h1 {
    font-size: 25px;
    margin-bottom: 60px;
  }
  .intro li {
    font-size: 15px;
  }
  .playerName h1 {
    font-size: 30px;
  }
  .playerName input {
    width: 350px;
  }
  .gameOver h1 {
    font-size: 30px;
    text-align: center;
  }
  .match .winner {
    font-size: 30px;
    text-align: center;
  }
  .match button {
    width: 90px;
    height: 30px;
    font-size: 13px;
    border-radius: 2px;
  }
  img {
    width: 152px;
    height: 134px;
  }
  .options {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .intro h1 {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .intro li {
    font-size: 10px;
  }
  .playerName h1 {
    font-size: 20px;
  }
  .playerName input {
    width: 75vw;
    font-size: 7vw;
  }
  .gameOver h1 {
    font-size: 20px;
    text-align: center;
  }
  .match .winner {
    font-size: 20px;
    text-align: center;
  }
  .match button {
    width: 70px;
    height: 25px;
    font-size: 9px;
    border-radius: 2px;
  }
}

@-webkit-keyframes shakePlayer {
  0% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  30% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  45% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  60% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
}

@keyframes shakePlayer {
  0% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  30% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  45% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  60% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
            transform: rotateY(180deg) rotateZ(50deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
            transform: rotateY(180deg) rotateZ(0deg) translateY(0px);
  }
}

@-webkit-keyframes shakeComputer {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  30% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  45% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  60% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  30% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  45% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  60% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateZ(50deg) translateY(-50px);
            transform: rotateZ(50deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateZ(0deg) translateY(0px);
            transform: rotateZ(0deg) translateY(0px);
  }
}
