@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
  background: white;
  color: black;
  --main-bg-color: white;
  --main-color: black;
  --menu-color: white;
  --list-color: #e6e6e6;
  --shadow-color: #e6e6e6;
  --device-color: #e6e6e6;
  --label-color: #c1c1c1;
  --content-color: #b3b3b3;
  --tit-label-color: #e4e4e4;
  --changelog-color: #cacaca;
  --btnblock-color: #dcdcdc;
  --text-changelog-color: #505050;
}

body.dark-theme {
  background: black;
  color: #cdcdcd;
  --main-bg-color: black;
  --main-color: white;
  --menu-color: black;
  --list-color: #151515;
  --shadow-color: #151515;
  --device-color: #2D2D2D;
  --label-color: #1e1e1fad;
  --content-color: #1b1b1b;
  --tit-label-color: #2D2D2D;
  --changelog-color: #181717;
  --btnblock-color: #959596;
  --text-changelog-color: #c4c4c4;
}

html {
  height: 100%;
  max-height: 100%; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
  height: auto;
  background-attachment: fixed;
}

button[type="button"] {
  color: var(--main-color);
  max-width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: 2px solid var(--main-color);
}

button[type="button"]:hover {
  color: var(--main-color);
  background: var(--shadow-color);
}

:root {
  --main-bg-color: white;
  --main-color: white;
  --hover-color: black;
  --nav-bg-color: black;
}

/*
  var(--main-bg-color)
  var(--main-color)
  var(--hover-color)
  var(--nav-bg-color)
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backbutton {
  position: fixed;
  color: var(--main-color);
  left: 0.5rem;
  top: 6.0rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.backbutton:hover {
  color: gray;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: var(--main-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: 0.3s;
}
  
.navbar__logo {
  padding: 20px;
  font-size: 20px;
}

.navbar__theme {
  display: flex;
}

.navbar__burger {
  display: inline-block;
  cursor: pointer;
  padding: 13px;
}

.navbar__burger .bar1,
.navbar__burger .bar2,
.navbar__burger .bar3 {
  background-color: var(--main-color);
  width: 40px;
  height: 5px;
  border-radius: 2.5px;
  margin: 6px 0;
  -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.navbar__burger:hover .bar1 {
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

.navbar__burger:hover .bar3 {
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
}

.navbar__burger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.navbar__burger.change .bar2 {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.navbar__burger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.navbar__burger.change:hover .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px) scale(1.2);
          transform: rotate(-45deg) translate(-8px, 6px) scale(1.2);
}

.navbar__burger.change:hover .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) scale(1.2);
          transform: rotate(45deg) translate(-8px, -8px) scale(1.2);
}

.navbar--shadow {
  -webkit-box-shadow: 0px -29px 46px 6px #888888;
          box-shadow: 0px -29px 46px 6px #888888;
  background-color: var(--shadow-color);
  position: fixed;
}

.theme-toggle {
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1;
  cursor: pointer;
  font-size: 25px;
}
  
.theme-toggler {
  fill:currentColor
}

.unselectable {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none
}

.site {
  justify-content: center;
}

.site-menu {
  position: fixed;
  color: var(--menu-color);
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--menu-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  left: -100%;
  opacity: 0;
}

.site-menu__link {
  font-size: 40px;
  margin: 10px;
  color: var(--main-color);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.site-menu__link.site-menu__link--first {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.site-menu__link.site-menu__link--second {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.site-menu__link.site-menu__link--already {
  color: gray;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.site-menu__link:hover {
  color: gray;
}

.site-menu.shown {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
          transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.site-menu.shown .site-menu__link {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.site-menu.shown .site-menu__link.site-menu__link--first {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.7s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.7s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.site-menu.shown .site-menu__link.site-menu__link--second {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.site-menu.shown .site-menu__link.site-menu__link--already {
  color: gray;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.header {
  max-width: 600px;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: calc(var(--vh, 1vh) * 100);
}

.header h1 {
  width: 80%;
  margin-bottom: 30px;
}

.header p {
  width: 80%;
}

@media (max-width: 1100px) {
  .navbar__burger {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .navbar__logo {
    font-size: 16px;
  }
  .container {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .navbar__burger {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .navbar__logo {
    font-size: 11px;
  }
  .container {
    font-size: 11px;
  }
}

.preloader {
  top: 0;
  opacity: 1;
  position: fixed;
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 20000;
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 30px;
  height: 30px;
  z-index: 3;
  margin-bottom: 10px;
  border: 4px solid #566b78;
  -webkit-animation: loader 1.8s infinite cubic-bezier(0.77, 0, 0.175, 1);
          animation: loader 1.8s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.loader-inner {
  vertical-align: top;
  height: 100%;
  width: 100%;
  background-color: #566b78;
  -webkit-animation: loader-inner 4s infinite cubic-bezier(0.77, 0, 0.175, 1);
          animation: loader-inner 4s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.none {
  display: none;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes loader-inner {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.name {
  margin-bottom: 1rem;
  font-size: 2.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: --var(--main-color)
}

.about-me {
  font-size: 2rem;
  letter-spacing: normal;
}

.finish_page {
  margin-bottom: 0.9rem;
}

.socialmedia {
  display: inline-block;
  max-width: 10%;
  margin-top:1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
 
.profile-pic{
  max-width: 80%;
  border-radius: 20rem;
  text-align: center;
  margin-left: 2rem;
}

.indentation {
   margin-top:70px;
   margin-top: 11rem;
}

.container-op {
  margin: 35px 0;
}
    
.list {
  background-color: var(--list-color);
  padding: 20px 0;
}
    
.listpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  content: "";
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33300000', endColorstr='#b3000000',GradientType=0 );
  overflow:hidden;
  width: 80%;
  height: 20%;
  max-width: 1000px;
}

.listpage img {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
}

.listpage img:hover{
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.0);
       -o-transform: scale(1.05);
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: var(--main-color);
    font-family: "Fira Code", monospace;
    padding-bottom: 50px;
}

.copyright a {
    color: var(--main-color);
    text-decoration: none;
}

body.dark-theme .switch-wrapper .sun,html.dark-theme .switch-wrapper .sun {
  background: url(../img/switch/sun-white.svg) no-repeat center;
  background-size: 100%
}

body.dark-theme .switch-wrapper .moon,html.dark-theme .switch-wrapper .moon {
  background: url(../img/switch/moon-white.svg) no-repeat center;
  background-size: 100%
}

.switch-wrapper .sun {
  background: url(../img/switch/sun.svg) no-repeat center;
  background-size: 100%
}

.switch-wrapper .moon {
  background: url(../img/switch/moon.svg) no-repeat center;
  background-size: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 80px;
}

.switch-wrapper .moon,.switch-wrapper .sun{
  width: 17px;
  height: 17px;
}

.switch-wrapper .toggle-wrapper{
  margin: 10px;
}

.switch-wrapper .toggle-wrapper #switch{
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
  
.switch-wrapper .toggle-wrapper #switch:checked+label{
  background: var(--main-color);
}

.switch-wrapper .toggle-wrapper #switch:checked+label:after {
  left: calc(100% - 3px);-webkit-transform:translateX(-100%);
  transform: translateX(-100%);
}

.switch-wrapper .toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: var(--main-color);
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-wrapper .toggle-wrapper label:after {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: var(--main-bg-color);
  border-radius: 100%;
}

/*# sourceMappingURL=main.css.map */
