@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.code-work {
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
}

.portfolio-code {
  padding: 2rem;
  background-color: #151515;
  border-radius: 29px;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.posts, .posts-1, .posts-10, .posts-11, .posts-12, .posts-2, .posts-3, .posts-4, .posts-5, .posts-6, .posts-7, .posts-8, .posts-9, .posts-auto, .posts-lg, .posts-lg-1, .posts-lg-10, .posts-lg-11, .posts-lg-12, .posts-lg-2, .posts-lg-3, .posts-lg-4, .posts-lg-5, .posts-lg-6, .posts-lg-7, .posts-lg-8, .posts-lg-9, .posts-lg-auto, .posts-md, .posts-md-1, .posts-md-10, .posts-md-11, .posts-md-12, .posts-md-2, .posts-md-3, .posts-md-4, .posts-md-5, .posts-md-6, .posts-md-7, .posts-md-8, .posts-md-9, .posts-md-auto, .posts-sm, .posts-sm-1, .posts-sm-10, .posts-sm-11, .posts-sm-12, .posts-sm-2, .posts-sm-3, .posts-sm-4, .posts-sm-5, .posts-sm-6, .posts-sm-7, .posts-sm-8, .posts-sm-9, .posts-sm-auto, .posts-xl, .posts-xl-1, .posts-xl-10, .posts-xl-11, .posts-xl-12, .posts-xl-2, .posts-xl-3, .posts-xl-4, .posts-xl-5, .posts-xl-6, .posts-xl-7, .posts-xl-8, .posts-xl-9, .posts-xl-auto {
  position: relative;
  width: 100%;}

.indentation {
  margin-bottom: 3rem
}

.project_heading-code {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 1.3rem;
  color: white;
}

.code-stuff {
  font-size:1rem;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.3rem;
  margin-top: 1.3;
  margin-bottom: 1.3rem;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.portfolio-code:hover {
  box-shadow: 0px 15px 30px;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.code-work-img {
  max-width: 100%;
}

.posts-para {
  font-size: 1.2rem;
  margin-top:1.5rem;
  padding:1.5rem;
  line-height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1f1f;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.posts-para:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.date-post {
  text-align-last: end;
}

.title-post-para {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  line-height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1f1f;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.title-post-para:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  -webkit-transition: all 0.4s ease 0s;
     -moz-transition: all 0.4s ease 0s;
       -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}

.line {
    width: 100%;
    padding: .75rem;
    white-space: pre-line;
    background-color: #181717;
    color: #c4c4c4;
    box-shadow: 0 1px 3px 0 #2d2d2d,0 0 0 1px #2d2d2d;
    font-family: Consolas,andale mono wt,andale mono,lucida console,lucida sans typewriter,dejavu sans mono,bitstream vera sans mono,liberation mono,nimbus mono l,Monaco,courier new,Courier,monospace;
    resize: none;
    margin-top: 1rem;
}
