.CONTACT_heading {
  text-align:center;
  margin: 0 auto;
  max-width:40%;
}

.CONTACT {
  color: black;
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.hello {
  margin: 0 auto;
  text-align: center;
}

.contact_illustration img {
  max-width: 50%;
}

.contact_illustration {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media(max-width:769px) {

    .CONTACT_heading {
      background: #000;
      COLOR: WHITE;
      text-align: center;
      margin: 0 auto;
      max-width: 90%;
  }

    .CONTACT {
      font-size: 1rem;
  }

  .hello {
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
}
